@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.btn.open, .swing-modal .btn.close, .circle, .swing-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #1e1e1e;
  /*overflow: hidden;*/
}

body {
  font-family: 'Varela Round', sans-serif;
}

.btn.open, .swing-modal .btn.close {
  color: whitesmoke;
  width: 250px;
  height: 70px;
  background: #F47265;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 22px 0;
  border-radius: 3px;
  box-shadow: 0 8px 0 0 #e84d3e;
  cursor: pointer;
  transition: all .3s ease;
  z-index: 5;
}
.btn.open:hover, .swing-modal .btn.close:hover {
  box-shadow: 0 5px 0 0 #e74535;
  margin-top: 3px;
}
.btn.open:active, .swing-modal .btn.close:active {
  box-shadow: 0 0 0 0 #e53423;
  margin-top: 8px;
}

.circle {
  border-radius: 100%;
  height: 2px;
  width: 2px;
  background: #F47265;
  opacity: .3;
  z-index: 2;
  transition: all .8s ease;
}

.swing-modal {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 0 0 #bebebe;
  padding: 0;
}
.swing-modal .title {
  color: #4E9CFF;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5px;
  padding: 10px 15px 10px 20px;
  border-bottom: 5px solid #4E9CFF;
  margin: -15px -20px 12px;
}
.swing-modal .title i {
  float: right;
  color: #1e1e1e;
  opacity: .3;
  transition: all .2s ease;
  cursor: pointer;
}
.swing-modal .title i:hover {
  opacity: .5;
}
.swing-modal .copy {
  float: none;
  clear: both;
  font-size: 16px;
}
.swing-modal .copy {
  line-height: 1.3;
}
.swing-modal .btn.close {
  top: 78%;
  height: 50px;
  padding: 15.5px;
  font-size: 24px;
  background: #6dadff;
  box-shadow: 0 8px 0 0 #4E9CFF;
  cursor: pointer;
  transition: all .3s ease;
}
.swing-modal .btn.close:hover {
  box-shadow: 0 5px 0 0 #4496ff;
  margin-top: 3px;
}
.swing-modal .btn.close:active {
  box-shadow: 0 0 0 0 #2f8bff;
  margin-top: 8px;
}

.swing-modal-container {
  display: none;
}

.in {
  animation: in 1s ease;
}

.out {
  animation: out 1s ease;
}

@keyframes in {
  0% {
    height: 0;
    width: 0;
    z-index: 0;
  }
  30% {
    top: 20%;
    z-index: 0;
  }
  60% {
    z-index: 1000;
  }
  100% {
    top: 50%;
    z-index: 1000;
    height: auto;
    width: 550px;
  }
}
@keyframes out {
  0% {
    top: 50%;
    z-index: 1000;
    height: auto;
    width: 550px;
  }
  30% {
    top: 80%;
    z-index: 1000;
    padding: 0;
  }
  60% {
    z-index: 0;
  }
  90%, 100% {
    height: 0;
    width: 0;
    z-index: 0;
  }
}
.circle-active {
  height: 700px;
  width: 700px;
  opacity: 0;
}

.circle-hide {
  opacity: 0 !important;
}
